.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	width: 320px;
	margin-bottom: 40px;
	padding: 10px;
}

.form_item {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.label {
	margin-bottom: 5px;
}
.form_field {
	width: 100%;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
}
.form_field:focus {
	border-color: #1976d2;
	border-width: 1px;
}

.error_message {
	color: rgba(245, 62, 62, 0.9);
	position: absolute;
	bottom: 0;
	left: 20px;
	transform: translateY(100%);
}
